body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('reqs/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Aclonica, sans-serif;
}

.container {
    width: 360px;
    height: auto;
}

.chessboard-container {
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard {
    width: 360px;
    height: 360px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border: 5px solid #EDD6B0;
    mix-blend-mode: difference;
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.light {
    background-color: #FFFFFF;
}

.square.dark {
    background-color: #000000;
}

.square::before {
    position: absolute;
    font-size: 12px;
    color: white;
}

.square.light::before {
    color: rgb(0, 0, 0);
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    width: 340px;
    height: 70px;
    background: rgba(60, 111, 111, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 20px 0;
}

.user-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.user-image {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.username {
    text-align: center;
    color: white;
    font-size: 13px;
}

.time {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.btns {
    width: 340px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin: -15px 0 0px 0;
}

.btn-image {
    width: 62px;
    height: 62px;
}

.rank-label {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    color: black;
}

.file-label {
    position: absolute;
    bottom: 0px;
    right: 1px;
    font-size: 12px;
    color: black;
}

.chess-piece {
    width: 90%;
    height: 90%;
    pointer-events: none;
}